body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("pinkki.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.search {
    margin-top: 200px;
}

.weather {
    margin-top: 50px;
}

.weather-icon {
    width: 300px;
}

.details {
    display: flex;
    justify-content: center;
}

.column {
    margin: 0 10px;
}

.column img {
    width: 50px;
}

#temp {
    font-size: 50px;
}

#city {
    font-size: 50px;
}

#feels-like {
    font-size: 20px;
}

#city-input {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 13%;
}

#search-button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: hsl(106, 84%, 41%);
    color: white;
}

#search-button:hover {
    background-color: hsl(106, 84%, 35%);
}