body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("images/pinkki.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.search {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather {
    margin-top: 10px;
}

.weather-icon {
    width: 125px;
    margin-top: 10px;
}

.details {
    display: flex;
    justify-content: center;
}

.column {
    font-size: 20px;
    margin: 0 10px;
    padding-right: 30px;
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.column img {
    width: 70px;
    height: 70px;
}

#temp {
    font-size: 40px;
}

#city {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 700;
}

#feels-like {
    font-size: 20px;
}

#city-input {
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 60%;
}

#search-button {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    border: 5px solid transparent;
    cursor: pointer;
    background-color: hsl(320, 92%, 75%);
    color: rgb(0, 0, 0);
    outline: 2px solid currentColor;
    border-color: 5px solid transparent;
    transition: 500ms;
}

#search-button:hover {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.banner {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.banner img {
    max-width: 100%;
    width: 500px;
    height: auto;
}

.content-wrapper {
    background-color: rgba(214, 90, 142, 0.8);
    padding: 20px;
    padding-bottom: 30px;
    margin: 20px auto;
    border-radius: 15px;
    width: 70%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 425px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 2s;
}

#coords-link {
    font-size: 20px;
    color: #2b6db9; 
    text-decoration: none;
  }
  
  #coords-link:hover {
    color: #ffffff;
  }

  .humidity + p,
  .wind + p {
    font-weight: bold;
    vertical-align: middle;
  }

  @media only screen and (max-width: 600px) {
    .column {
        display: block;
        width: 100%;
        padding: 10px 0;
    }
}
